body {
  background-color: whitesmoke;
  max-width: 1440px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em 2em;
  grid-auto-flow: row;
  grid-template-areas:
    "daniel daniel jon kira"
    "jean patrick patrick kira";
}
.card {
  padding: 2rem;
  border-radius: 10px;
}
.daniel {
  grid-area: daniel;
  background-color: hsl(263, 55%, 52%);
}

.jon {
  grid-area: jon;
  background-color: hsl(217, 19%, 35%);
}

.kira {
  grid-area: kira;
  background-color: hsl(0, 0%, 100%);
}

.patrick {
  grid-area: patrick;
  background-color: hsl(219, 29%, 14%);
}

.jean {
  grid-area: jean;
  background-color: hsl(0, 0%, 100%);
}

/* TYPOGRAPHY */

.card {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.daniel > h1 {
  color: white;
}

.daniel > p {
  color: hsl(263, 55%, 70%);
  font-size: 13px;
}

.jon {
  color: white;
}

.kira {
}

.patrick {
  color: white;
}

.jean {
}
